<div class="row p-0" style="margin-bottom: 100px;">

    <div class="md-card-wrapper" ng-app="myapp">
        <div class="pl-3 pr-0">
            <img src="assets/aboutus.jpg" style="width: 1498px; height: 700px;">
        </div>
        <span>Media It Solutions</span>
      </div>

  <!-- <div class="col">
    <img src="assets/aboutus.jpg" style="width: 1498px; height: 700px;">
  </div> -->
  
  <div class="w-100"></div>
  <div class="col mt-4 mb-2 text-center">
    <strong>Collaboration for On-ground Workforce Simplified</strong>

  </div>
  <div class="row pl-3">
    <div class="col p-3  mb-5">
      With the business conditions getting redefined, it has become critical for the remote teams to collaborate
      virtually. Especially for on-ground teams who waste 30% of daily active time in follow-ups & coordination.

      Digitising on-ground operations doesn't have to be a struggle. Complete work faster with Xyloop - A reliable
      unified tech platform to make business operations simpler, visible and scalable like never before.
    </div>
  </div>

  <div class="row pl-5" style="background-color:#aaa;">
    <div class="col">
      <h1>Our Team</h1>
    </div>
</div>


  <div class="row p-2 text-right" style="margin-left: 550px;">
    <div class="column" style="background-color:#aaa; margin-right: 15px">
      <img src="assets/gallery/abou1.jpg" style="width: 450px; height: 250px;">
      <h1 class="p-2">CEO: Miss Alexa</h1>
    </div>
    <div class="column" style="background-color:#bbb;margin-right: 15px">
      <img src="assets/gallery/about2.jpeg" style="width: 450px; height: 250px;">
      <h1 class="p-2">MD: miss Jashmine</h1>
    </div>
  </div>

<div class="row pb-2" style="margin-left: 50px;">
  <div class="column" style="background-color:#ccc; margin-right: 15px">
    <img src="assets/gallery/about3.jpg" style="width: 450px; height: 250px;">
    <h1 class="p-2">CFO: Mrs Rosy</h1>
  </div>
  <div class="column" style="background-color:#ddd; margin-right: 15px">
    <img src="assets/gallery/about4.jpg" style="width: 450px; height: 250px;">
    <h1 class="p-2">Team Lead: Mrs Joshphine</h1>
  </div>
</div>
<div class="row text-right" style="margin-left: 550px;">
  <div class="column" style="background-color:#ccc; margin-right: 15px">
    <img src="assets/gallery/about5.jpg" style="width: 450px; height: 250px;">
    <h1 class="p-2">Sr Developer: Mr James</h1>
  </div>
  <div class="column" style="background-color:#ddd; margin-right: 15px">
    <img src="assets/gallery/about6.jpg" style="width: 450px; height: 250px;">
    <h1 class="p-2">Project Manager: Mr Robrt</h1>
  </div>
</div>
</div>
