<div class="row">
    <div class="col comany-name text-center">
        <h1>Media It Solution Pvt Ltd.</h1>
    </div>
</div>
<div class="row">
   
    <div class="col  pl-3 pr-3 bg-light" style="margin: 15px">
        <h4>
            You want website visitors to convert, but they won’t if you don’t give them the necessary incentive and opportunity. Maybe you want to build an email list, but if visitors can’t find a signup form, your database will remain empty.
        </h4>
    </div>
</div>

<div class="md-card-wrapper" ng-app="myapp">
    <div>
        <img src="assets/home.jpg" style="width: 1498px; height: 700px;">
    </div>
    <span>Media Companies and Strategies</span>
  </div>
  <div class="row mb-5">
      <div class="col pt-2">
       <h2> How to read books?</h2>
      </div>
    
      <div class="w-100 mt-3"></div>
      <div class="row">
        <div class="col ml-2" style="background-color: aliceblue;">
            <h2>
                Want to grow your organic traffic by 20-100%? We built ClickFlow, a suite of SEO tools designed to increase your organic rankings and scale qualified traffic for your website. Click here to learn more and get started.
            </h2>
          </div>
          <div class="col text-right">
            <iframe  [src]="safeSrc" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen
            allowfullscreen></iframe>
          </div>
      </div>
      

  </div>
