.md-card-wrapper {
    position: relative;
      width: 50%;
    span {
        position: absolute;
        top: 10%;
        /* right: 32%; */
        color: white;
        font-size: 34px;
        background-color: salmon;
        height: 50px;
        padding: 10px;
      }
  }
  .comany-name{
    //   background-color: yellow;
      width: 50%;
      color: rebeccapurple;
      font-style: bold;
  }